@tailwind base;

::selection {
    background-color: #22d3ee;
    color: #fff;
}

/* html {
    font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
} */

abbr[title] {
    text-decoration: none;
}

.scroll::-webkit-scrollbar {
    display: none;
}

.scroll {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
